{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Contant us header section -->
<section>
    <div class="container center-align">
        <h1 id="history-main-heading">Your Voice Matters: Awareness
        </h1>
        <p class="contact-us-paragraph">Please feel free to use the form below to get in touch with us, whether you
            require support, have inquiries,
            or wish to engage with our team. While the form is primarily intended for the LGBTQ community, we warmly
            welcome individuals from all backgrounds and interests. Our commitment to diversity means we are dedicated
            to providing assistance and information to everyone, ensuring an inclusive and supportive environment for
            all.</p>
    </div>
</section>


<!-- Contact form section-->
<section>
    <div class="container">
        <div class="row">
            <div class="grid-example col s12 m6">
                <h3>Let us reach out to you!</h3>
                <p class="contact-us-paragraph">Please fill in this form if you want to reach a Counselor</p>
                <form action="www.team3.com" aria-label="contact form" method="post" target="_blank">
                    <label for="fname"></label>
                    <input type="text" id="fname" name="firstname" aria-label="first name" placeholder="First name"
                        required>

                    <label for="lname"></label>
                    <input type="text" id="lname" name="lastname" aria-label="last name" placeholder="Last name"
                        required>

                    <label for="email"></label>
                    <input type="email" id="email" name="email" aria-label="email" placeholder="Email" required>

                    <label for="subject"></label>
                    <textarea id="subject" name="subject" aria-label="textarea for any request"
                        placeholder="Any special request" style="height:150px"></textarea>
                    <input type="submit" value="Submit"
                        class="waves-effect waves-light btn white black-text black-border">
                </form>
            </div>
            <div class="grid-example col s12 m6">
                <!-- Image section here -->
                <div class="col s12 l6 valign-wrapper">
                    <img src="{% static 'media/contact-us-paragraph.jpg'%}" class="alexander"
                        alt="contact us image" />
                </div>
            </div>
        </div>
        <hr class="hr-pride">
    </div>
</section>


<!-- FAQ section  -->
<section>
    <div class="faq-container container center-align purple">
        <div class="row">
            <h3>FAQ - Questions and Answers</h3>
            <div class="faq-question col s12 m6">
                <details>
                    <!-- Question  -->
                    <summary>What resources are available for LGBTQ+ individuals seeking support?</summary>
                    <div>
                        <!-- Answer  -->
                        <p class="white-text contact-us-paragraph">Discover a wealth of resources, including helplines,
                            counseling services,
                            support groups, and
                            community organizations, that provide assistance and guidance for LGBTQ+ individuals.</p>
                    </div>
                </details>
            </div>
            <div class="faq-question col s12 m6">
                <details>
                    <summary>How can I become an ally to the LGBTQ+ community?</summary>
                    <!-- Question  -->
                    <div>
                        <p class="white-text contact-us-paragraph">Learn how to actively support and advocate for the
                            LGBTQ+ community,
                            including tips on
                            education, inclusivity, and understanding, to become a strong ally and promote equality.</p>
                        <!-- Answer  -->
                    </div>
                </details>
            </div>
            <div class="faq-question col s12 m6">
                <details>
                    <summary>Where can I find safe spaces and LGBTQ+ friendly establishments?</summary>
                    <!-- Question  -->
                    <div>
                        <p class="white-text contact-us-paragraph">Explore a curated list of safe spaces, such as
                            LGBTQ+-friendly cafes,
                            bars, clubs, and
                            community centers, where individuals can feel comfortable, accepted, and celebrated.</p>
                        <!-- Answer  -->
                    </div>
                </details>
            </div>
            <div class="faq-question col s12 m6">
                <details>
                    <summary>What can I do to promote awareness and acceptance?</summary>
                    <!-- Question  -->
                    <div>
                        <p class="white-text contact-us-paragraph">Discover practical steps and initiatives that you can
                            take to foster
                            LGBTQ+ awareness,
                            promote acceptance, and create an inclusive environment within your community.</p>
                        <!-- Answer  -->
                    </div>
                </details>
            </div>
        </div>
    </div>
</section>


<!-- Information section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Binary Unicorns<i class="fa-solid fa-heart"></i></h3>
                <div class="row">

                    <div class="col s12 m4">
                        <h4>Address</h4>
                        <p class="contact-us-paragraph">The Binary Unicorns Project</p>
                        <p class="contact-us-paragraph"> PO Box 349500
                            West Hollywood, CA 90030</p>
                    </div>
                    <div class="col s12 m4">
                        <h4>Phone Number</h4>
                        <p class="contact-us-paragraph">(212) 000-2049</p>
                    </div>
                    <div class="col s12 m4">
                        <h4>General Inquiries</h4>
                        <p class="contact-us-paragraph"><a href="mailto:nonbinaryunicorns@hotmail.com"
                                aria-label="Send email">Please email our team</a></p>
                    </div>
                </div>
                <div class="resources_button center-align">
                    <a class="waves-effect waves-light btn white black-text black-border">Reach a Counselor</a>
                </div>
            </div>
        </div>
</section>

{% endblock %}