{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Contant Page -->

<section>
    <div class="container">
        <h1 id="history-main-heading">Your Voice Matters: Contact Us</h1>
        <h2 class="center-align">
            <span class="L">L</span><span class="G">G</span>
            <span class="B">B</span><span class="T">T</span>
            <span class="Q">Q</span><span class="plus">+</span>
            Awareness and Assistance
        </h2>
    </div>
</section>

{% endblock %}