{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Contant us header section -->
<section>
    <div class="container">
        <h1 id="history-main-heading">Your Voice Matters: Contact Us</h1>
        <h2 class="center-align">
            <span class="L">L</span><span class="G">G</span>
            <span class="B">B</span><span class="T">T</span>
            <span class="Q">Q</span><span class="plus">+</span>
            Awareness and Assistance
        </h2>
    </div>
</section>

<!-- Contact form -->
<section>
    <div class="container">
        <h3>Let us reach out to you!</h3>
        <form action="www.team3.com" aria-label="contact form" method="post" target="_blank">
            <label for="fname"></label>
            <input type="text" id="fname" name="firstname" aria-label="first name" placeholder="First name" required>

            <label for="lname"></label>
            <input type="text" id="lname" name="lastname" aria-label="last name" placeholder="Last name" required>

            <label for="email"></label>
            <input type="email" id="email" name="email" aria-label="email" placeholder="Email" required>

            <label for="subject"></label>
            <textarea id="subject" name="subject" aria-label="textarea for any request"
                placeholder="Any special request" style="height:150px"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>

{% endblock %}