{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Main header section -->
<section>
    <div class="container">
        <h1 id="history-main-heading">Do you think
            <span class="L">L</span><span class="G">G</span><span class="B">B</span><span class="T">T</span><span
                class="Q">Q</span><span class="plus">+</span> is a new “trend”?
            You are WRONG it was always there <i class="fa-solid fa-heart"></i></h1>
    </div>
</section>

<!-- Old histories section -->
<section>
    <div class="container">
        <div class="row" data-aos="fade-left" data-aos-duration="2500" data-aos-once="true">
            <div class="col s12 l6">
                <img src="{% static 'media/great_alexander.png'%}" class="alexander"
                    alt="image of great alexander showing he was gay as well" />
            </div>
            <div class="col s12 l6">
                <p class="alexander-text">
                    Celebrate LGBTQ+ Pride! Did you know that the great historical figure Alexander the Great was also
                    gay? LGBTQ+ individuals have made significant contributions throughout history, and their diversity
                    should be acknowledged and celebrated. Let's embrace inclusivity, promote acceptance, and honor the
                    LGBTQ+ community for their rich and varied contributions to society. Love is love, and everyone
                    deserves to be respected and celebrated for who they are. Happy Pride! 🏳️‍🌈
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="2500" data-aos-once="true">
            <div class="col s12 l6">
                <p class="colette-text">
                    Colette, the legendary French author, lived openly as a bisexual woman. She had relationships with
                    prominent queer women, including Napoleon's niece Mathilde 'Missy' de Morny. In 1907, a
                    groundbreaking moment occurred when Colette and Missy shared a kiss on stage at the Moulin Rouge,
                    leading to police involvement. Colette's notable works include the novels 'Gigi' and the 'Claudine'
                    series, where the titular character grows to resent her husband and seeks solace in the arms of
                    another woman. Happy Pride! 🏳️‍🌈
                </p>
            </div>
            <div class="col s12 l6">
                <img src="{% static 'media/famous_author.png'%}" class="alexander" alt="image of famous author" />
            </div>
        </div>
    </div>
    <hr class="hr-pride">
</section>

<!-- New histories section -->
<section>
    <div class="container">
        <div class="row" data-aos="fade-left" data-aos-duration="2500" data-aos-once="true">
            <div class="col s12 l6">
                <img src="{% static 'media/stonweall.jpg'%}" class="alexander" alt="image of stonweallImagen" />
            </div>
            <div class="col s12 l6">
                <p class="alexander-text">
                    Within the hallowed walls of the Stonewall bar, a storm of passion and defiance brewed. In the face
                    of oppression, a united force emerged, fueled by unwavering resilience. The air crackled with
                    tension as voices rose, demanding liberation and equality. In that electrifying moment, history
                    trembled, forever changed by the seismic impact of the Stonewall uprising. Happy Pride! 🏳️‍🌈
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="2500" data-aos-once="true">
            <div class="col s12 l6">
                <p class="colette-text">
                    Marsha Johnson, a Black trans woman, was a prominent leader in the LGBTQ+ movement in NYC. She
                    advocated for marginalized groups, co-founded the groundbreaking STAR shelter for homeless trans
                    youth, and played a vital role in the Stonewall Riots. Sadly, her death in 1992, ruled as suicide
                    but suspected as murder, remains controversial. In 2019, plans were announced for a monument
                    honoring Johnson and Sylvia Rivera, recognizing transgender women's contributions. Happy Pride!
                    🏳️‍🌈
                </p>
            </div>
            <div class="col s12 l6">
                <img src="{% static 'media/marsha.jpg'%}" class="alexander" alt="image of famous author" />
            </div>
        </div>
    </div>
    <hr class="hr-pride">
</section>







{% endblock %}