{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Main header section -->
<section>
    <div class="container">
        <h1 id="history-main-heading">Do you think
            <span class="L">L</span><span class="G">G</span><span class="B">B</span><span class="T">T</span><span
                class="Q">Q</span><span class="plus">+</span> is a new “trend”?
            You are WRONG it was always there <i class="fa-solid fa-heart"></i></h1>
    </div>
</section>

<!-- Old histories section -->
<section>

</section>






{% endblock %}