{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- Frontend Developers here you will write all the code for main section on Home page.
Delete the placeholder below and start coding. 
Code should be between { block content } and { endblock }
Godd Luck! -->


<div class="landing_page_container comtainer nav-wrapper row">
    <div class="grid-example col s12 m6 left-align">
        <p>
            Embracing mental well-being,
            Supporting the LGTB+ community
        </p>

    </div>
    <div class="row">
        <div class="col circle_images circle_1 s6 offset-s7 right-align">
            <!-- Image 1 -->
            <img class="circle responsive-img" src="{% static 'media/pride_month.jpg'%}" alt="Image 1">
        </div>
        <div class="circle_images circle_2 col s6 m6 right-align">
            <!-- Image 2 -->
            <img class="circle responsive-img" src="{% static 'media/circle_landing.jpg'%}" alt="Image 2">
        </div>
    </div>

</div>


{% endblock %}