{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<!-- Frontend Developers here you will write all the code for main section on Home page.
Delete the placeholder below and start coding. 
Code should be between {% block content %} and {% endblock %}
Godd Luck! -->

<h1>hello there. I am a heading and i exxtend base.html with my code. I am the main page between header and footer</h1>
<button class="my-button" onclick="changeButton()">Click me!</button>



{% endblock %}