{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Frontend Developers here you will write all the code for main section on Resources page.
Delete the placeholder below and start coding. 
Code should be between { block content } and { endblock }
Godd Luck! -->

<!-- Acceptance section -->
<section>
    <h1 class="resources-h">How can we help each other?</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h2>Acceptance</h2>
                <p style="font-family: Josefin Sans, sans-serif;">
                    Supporting the LGBTQ+ community through acceptance fosters inclusivity and compassion. It involves
                    recognizing and respecting diverse sexual orientations and gender identities, creating safe spaces
                    for self-expression, challenging stereotypes, and advocating for equal rights. By embracing
                    acceptance, we send a message of love and support, working towards a world free from discrimination
                    and prejudice.
                </p>
            </div>
            <div class="col s12 l6 resources-img " id="hugging-herself">
            </div>
        </div>
        <!-- Supportive section -->
        <div class="row">
            <div class="col s12 l6">
                <h2>Supportive</h2>
                <p style="font-family:  Josefin Sans, sans-serif;">Providing support to the LGBTQ+ community is vital
                    for fostering a sense of belonging and
                    empowerment. It involves offering a helping hand, being a listening ear, and standing up as an ally.
                    By providing support, we can create a network of care, understanding, and resources that uplifts
                    LGBTQ+ individuals. This support can range from offering emotional support, connecting individuals
                    to relevant communities and organizations, advocating for LGBTQ+ rights, and amplifying their
                    voices. Together, through our unwavering support, we can create a more inclusive and equitable
                    society for all.</p>
            </div>
            <div class="col s12 l6 resources-img" id="guy-thumbsup">
            </div>
        </div>
    </div>
    <h2 class="resources-h">Understanding LGBTQ+</h2>
    <h4 class="resources-h">Being inquisitive is never a bad thing</h4>

    <!-- Carousel section start -->
    <div class="carousel blue lighten-5 container">
        <div class="carousel-item center-align">
            <img class="carousel-img"
                src="https://res.cloudinary.com/dryomwpdt/image/upload/v1687044948/static/media/thinking-man.2b9e98d9a700.jpg"
                alt="Thinking Man">
            <h5>Understanding Bisexuality</h5>
            <p>Within the bisexual community, there...</p>
            <a style="font-size: 1.2rem;"
                href="https://www.thetrevorproject.org/resources/article/understanding-bisexuality/"
                target="_blank">Read
                More</a>
        </div>
        <div class="carousel-item center-align">
            <img class="carousel-img"
                src="https://res.cloudinary.com/dryomwpdt/image/upload/v1687044942/static/media/thinking-woman.e9bcffad3c7a.jpg"
                alt="Thinking Woman">
            <h5>Understanding Gay & Lesbian lentities</h5>
            <p>Gay and lesbian people have the capacity...</p>
            <a style="font-size: 1.2rem;"
                href="https://www.thetrevorproject.org/resources/article/understanding-gay-lesbian-identities/"
                target="_blank">Read More</a>
        </div>
        <div class="carousel-item center-align">
            <img class="carousel-img"
                src="https://res.cloudinary.com/dryomwpdt/image/upload/v1687044940/static/media/thinking-two.ab9967077fe9.jpg"
                alt="Thinking Couple">
            <h5>Understanding Asexuality</h5>
            <p>Within the asexual community, there...</p>
            <a style="font-size: 1.2rem;"
                href="https://www.thetrevorproject.org/resources/article/understanding-asexuality/#:~:text=People%20who%20identify%20as%20asexual,romantic%20attraction%20to%20other%20people."
                target="_blank">Read More</a>
        </div>
        <div class="carousel-item center-align">
            <img class="carousel-img"
                src="https://res.cloudinary.com/dryomwpdt/image/upload/v1687044948/static/media/together.9a2b2b2942fe.jpg"
                alt="Thinking Couple">
            <h5>Mental Health</h5>
            <p>You matter. Let’s keep you thriving....</p>
            <a style="font-size: 1.2rem;" href="https://www.thetrevorproject.org/resources/category/mental-health/"
                target="_blank">Read More</a>
        </div>

    </div>
    <!-- Carousel section end -->
</section>

{% endblock %}