{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Frontend Developers here you will write all the code for main section on Resources page.
Delete the placeholder below and start coding. 
Code should be between { block content } and { endblock }
Godd Luck! -->

<section>
    <h1 class="resources-h">How can we help each other?</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3">
                <h2>Acceptance</h2>
                <h5>Guide to relevant topics</h5>
                <p>An introductory educational resource that covers topics and best practises for supporting the bisexual youth in your life</p>
            </div>
            <div class="col s12 m6 l3 resources-img " id="hugging-herlsef"> 
            </div>

            <!-- not sure how to make a bigger gap between them-->
            
            <div class="col s12 m6 l3">
                <h2>Supportive</h2>
                <h5>Resources for Mental Health Support</h5>
                <p>Here are some helpful resources to help you explore the topic of mental health. Remember, you can always reach out, if you need immediate help.</p>
                </div>
                <div class="col s12 m6 l3 resources-img" id="guy-thumbsup">
            </div> 
        </div>
    </div>
    <h2 class="resources-h">Understanding</h2>
    <h5 class="resources-h">Being inquisitive is never a bad thing</h5>
    <div class="carousel grey lighten-5">
        <a class="carousel-item" href="#">
            <img src="/static/media/thinking-man.jpeg" alt="Thinking Man">
        </a>
        <a class="carousel-item" href="#">
           <img src="/static/media/thinking-woman.jpeg" alt="Thinking Woman">
        </a>
        <a class="carousel-item" href="#">
           <img src="/static/media/thinking-two.jpeg"
            alt="Thinking Couple">
        </a>
      </div>
       
       <script type='text/javascript'>
        $(document).ready(function(){  
          $('.carousel').carousel();  
        });
       </script>
</section>


{% endblock %}