{% extends 'base.html' %}
{% load static %}
{% block title %} History {% endblock %}
{% block content %}

<!-- Frontend Developers here you will write all the code for main section on Resources page.
Delete the placeholder below and start coding. 
Code should be between { block content } and { endblock }
Godd Luck! -->

<!-- Acceptance section -->
<section>
    <h1 class="resources-h">How can we help each other?</h1>
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h2>Acceptance</h2>
                <h5>Guide to relevant topics</h5>
                <p>An introductory educational resource that covers topics and best practises for supporting the
                    bisexual youth in your life</p>
            </div>
            <div class="col s12 l6 resources-img " id="hugging-herlsef">
            </div>
        </div>
        <!-- Supportive section -->
        <div class="row">
            <div class="col s12 l6">
                <h2>Supportive</h2>
                <h5>Resources for Mental Health Support</h5>
                <p>Here are some helpful resources to help you explore the topic of mental health. Remember, you can
                    always
                    reach out, if you need immediate help.</p>
            </div>
            <div class="col s12 l6 resources-img" id="guy-thumbsup">
            </div>
        </div>
    </div>
    <h2 class="resources-h">Understanding</h2>
    <h5 class="resources-h">Being inquisitive is never a bad thing</h5>

    <!-- Carousel section start -->
    <div class="carousel grey lighten-5">
        <a class="carousel-item" href="https://www.thetrevorproject.org/resources/article/understanding-bisexuality/"
            target="_blank">
            <img class="carousel-img" src="/static/media/thinking-man.jpeg" alt="Thinking Man">
            <h6>Understanding Bisexuality</h6>
            <p>Within the bisexual community, there...</p>
            <p class="resources-read--more">Read More</p>
        </a>
        <a class="carousel-item"
            href="https://www.thetrevorproject.org/resources/article/understanding-gay-lesbian-identities/"
            target="_blank">
            <img class="carousel-img" src="/static/media/thinking-woman.jpeg" alt="Thinking Woman">
            <h6>Understanding Gay & Lesbian lentities</h6>
            <p>Gay and lesbian people have the capacity...</p>
            <p class="resources-read--more">Read More</p>
        </a>
        <a class="carousel-item"
            href="https://www.thetrevorproject.org/resources/article/understanding-asexuality/#:~:text=People%20who%20identify%20as%20asexual,romantic%20attraction%20to%20other%20people."
            target="_blank">
            <img class="carousel-img" src="/static/media/thinking-two.jpeg" alt="Thinking Couple">
            <h6>Understanding Asexuality</h6>
            <p>Within the asexual community, there...</p>
            <p class="resources-read--more">Read More</p>
        </a>
    </div>
    <!-- Carousel section end -->

    <!-- Not sure how to change the size of the carousel-->

    <script type='text/javascript'>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>
</section>

=======
<div class="container" id="fixed">
    <div class="row">
        <div class="col s12 l6">
            <p>nschadigdjfhgdfjdsgfudsgvfjhsdfsdvjhc</p>
        </div>
        <div class="col s12 l6">
            <p>sknhifgdgfdsjhfgdsfgdhfgdfg</p>
        </div>
    </div>
</div>

{% endblock %}