/* Frontend Developers here you will write all the code for vanilla CSS.
Delete the placeholders below and start coding.
Please write the css code for each page between comment tags, use unique and meaningful class names or id names. 
Good Luck! */

/* --------------------------------------------------- General styles */
/* General code like body style, google fonts etc */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
  background-color: #fafafa;
}

body {
  font-family: "Amatic SC", cursive;
  color: #010b13;
  background-color: #fff9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* --------------------------------------------------- Home page styles */

/* Navbar css */
.team-name {
  font-family: "Amatic SC", cursive;
  margin-left: 33%;
  font-size: 2rem !important;
}

.team_name:hover,
.navbar a:hover {
  transform: scale(1.1);
  transition: 1.2s;
  border-radius: 10px;
}

.navbar {
  background-color: #ff8a7f;
  box-shadow: none !important;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.logo {
  background-color: transparent !important;
  margin-left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 5rem;
}

div.nav-wrapper.red.accent-2>* {
  padding-top: 1rem;
}

#nav-mobile {
  padding-right: 1rem;
}

#nav-mobile li a {
  font-size: 1.3rem;
}

.sidenav-overlay {
  background-color: transparent;
  z-index: 1;
}

.sidenav-content {
  z-index: 3;
}

#mobile-demo a {
  font-size: 30px;
  margin-top: 40px;
}

#mobile-demo {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  height: auto;
}

/* Homepage content css */

.landing_page_container {
  background-color: #ff5252;
  height: 75vh;
  margin: 0;
}

.landing_page_container p {
  font-family: "Amatic SC", cursive;
  font-size: 90px;
  width: 120%;
  margin-left: 6%;
  padding-top: 5%;
  color: #fafafa;
}

.circle_images {
  width: 300px !important;
  height: 300px;
  border-radius: 50%;
  position: relative;
  top: -250px;
  z-index: 1;
}

.circle_1 {
  margin-right: -60px;
  object-fit: cover;
}

.circle_2 {
  margin-left: -20px;
  margin-top: -60px;
  object-fit: cover;
}

/* Stories of pride home page css */
.card {
  width: 50%;
  height: 60%;
  padding-bottom: 2rem;
  background-color: rgb(194, 223, 232);
  margin-left: 25%;
  margin-bottom: 10%;
  margin-top: -2px;
}

.button-89 {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}


.card p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.card .row {
  margin-top: 30%;
}

.card h1 {
  margin-top: 20%;
}

.history_button {
  padding: 10px;
}

.history_button a {
  font-size: 30px;
  width: 33%;
  margin-bottom: 10px;
}

.history_button a:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

/* We're here for you section css */

.third_section {
  margin-top: -8%;
  margin-bottom: 5%;
}

.third_section h1 {
  font-family: "Josefin Sans", sans-serif;
}

.third_section h3 {
  font-weight: 900;
  font-style: italic;
}

.third_section p {
  font-size: 35px;
  width: 50%;
  margin-top: 3%;
  margin-left: 24%;
  font-family: "Josefin Sans", sans-serif;
}

/* Reach out section css */

.text-box {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(188, 91, 188);
  color: #fafafa;
  border-radius: 20%;
  width: 100%;
  height: 50%;
  padding: 20px;
  margin-left: -19%;
}

.text-box p {
  font-size: 30px;
  width: 90%;
  margin-left: 60px;
  padding: 5%;
}

.help_section img {
  width: 90%;
  height: 90%;
  border-radius: 15%;
  margin-top: 50%;
  margin-left: 5%;
  position: relative;
  z-index: 1;
}

.resources_button a {
  font-size: 40px;
  padding: 3%;
  height: auto;
  font-family: "Amatic SC", cursive;
}

.resources_button a:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* footer css */

footer {
  min-height: 12rem;
  margin-top: auto;
}

.social_icons {
  height: auto;
  color: #114069;
  display: flex;
  flex-direction: row-reverse;
}

.member {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 1.3s;
}

.member:hover {
  transform: scale(1.2);
}

.member a {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.team-name p {
  margin-left: 140%;
  position: relative;
  font-size: 30px;
  width: 30%;
}

.team-name p:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

/* --------------------------------------------------- History page styles */
#history-main-heading {
  font-size: 4.5rem;
}

.fa-heart {
  color: rgb(246, 128, 146);
}

.L {
  color: #b41a02;
  font-weight: 700;
}

.G {
  color: #b47602;
  font-weight: 700;
}

.B {
  color: #b7ba00;
  font-weight: 700;
}

.T {
  color: #009a0a;
  font-weight: 700;
}

.Q {
  color: #00579a;
  font-weight: 700;
}

.plus {
  color: #33009a;
  font-weight: 700;
}

.alexander {
  margin: 2rem 0;
  width: 100%;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.alexander-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0.5rem;
  width: 100%;
  font-weight: 600;
}

.colette-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0.5rem 1rem 0;
  width: 100%;
  font-weight: 600;
}

.hr-pride {
  margin: 1rem 0;
  height: 30px;
  border: none;
  background: linear-gradient(to right,
      #ff0018,
      #ffa52c,
      #ffff41,
      #008018,
      #0000f9,
      #86007d);
}

.rainbow {
  color: #33009a;
}

/* --------------------------------------------------- Resouces page styles */
.resources-h {
  text-align: center;
  color: #010b13;
}

#hugging-herself {
  background-image: url(../media/hugging-herself.jpeg);
  height: 15rem;
}

#guy-thumbsup {
  background-image: url(../media/guy-thumbsup.jpeg);
  height: 15rem;
}

.resources-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin-top: 70px;
}

.carousel-item {
  width: 20rem !important;
  height: 15rem !important;
}

.carousel-img {
  height: 15rem;
  border-radius: 25px;
}

#fixed {
  margin-top: 100px;
  color: #010b13;
  text-align: center;
}

/* --------------------------------------------------- Contact page styles */
.contact-us-paragraph {
  font-family: "Josefin Sans", sans-serif;
}

.contact-us-bold {
  font-weight: 900;
}

.contact-us-image{
  margin: 5rem 0;
  width: 100%;
  border-radius: 25px;
}
.custom-section-top {
  margin-top: 20px; /* Adjust the top margin value as desired */
}

.custom-section-bottom {
  margin-bottom: 4rem; /* Adjust the bottom margin value as desired */
}

/* FAQ styling */
summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
}

.faq-question {
  margin: 10 0;
}

.faq-container {
  border-radius: 15px;
}

/*-------------------------------*/
.carousel {
  min-height: 30rem;
}

/* For large screens sizes from 2560px wide and down */
@media screen and (max-width: 2560px) {

  .navbar a,
  .navbar .team-name {
    font-size: 40px;
  }

  .logo {
    width: 5%;
  }

  .landing_page_container {
    height: 40vh;
  }

  .landing_page_container p {
    width: 90%;
    font-size: 110px;
  }

  .circle_images .circle {
    margin-top: 40%;
  }

  .card-content p {
    font-size: 40px;
  }

  .history_button a {
    font-size: 40px;
  }

  .text-box p {
    font-size: 40px;
  }

  .help_section img {
    margin-top: 35%;
  }
}

/* For large screens sizes from 1440px wide and down */
@media screen and (min-width: 1440px) and (max-width: 1800px) {

  .navbar a,
  .navbar .team-name {
    font-size: 25px;
  }

  .logo {
    width: 6%;
  }

  .landing_page_container {
    height: 70vh;
  }

  .landing_page_container p {
    font-size: 80px;
  }

  .circle_images .circle {
    margin-top: unset;
  }

  .card-content p {
    font-size: 25px;
  }

  .history_button a {
    font-size: 30px;
  }

  .text-box p {
    font-size: 30px;
  }

  .help_section img {
    margin-top: 60%;
  }
}

/* Media query for large screens */
@media (min-width: 881px) and (max-width: 1024px) {

  .navbar a,
  .navbar .team-name {
    font-size: 20px;
  }

  .logo {
    width: 7%;
  }

  .landing_page_container {
    height: 70vh;
  }

  .landing_page_container p {
    font-size: 80px;
  }

  .circle_images .circle {
    position: relative;
    top: -300px;
  }

  .circle_2 .responsive-img {
    margin-top: 20%;
    margin-left: 190%;
  }

  .circle_1 .responsive-img {
    margin-right: -20%;
  }

  .card {
    margin-top: 15%;
  }

  .card-content p {
    font-size: 20px;
  }

  .history_button a {
    font-size: 30px;
  }

  .text-box p {
    font-size: 20px;
  }

  .resources_button a {
    font-size: 25px;
  }

  .help_section img {
    margin-top: 60%;
  }
}

@media screen and (max-width: 768px) {
  .landing_page_container {
    height: 65vh;
  }

  .landing_page_container p {
    font-size: 50px;
  }

  .circle_images .circle {
    position: relative;
    top: -300px;
    width: 70%;
  }

  .circle_2 .responsive-img {
    margin-top: 50%;
    margin-left: 140%;
  }

  .circle_1 .responsive-img {
    margin-right: 10%;
    top: -130px;
  }

  .card {
    margin-top: 15%;
    width: 60%;
  }

  .card h1 {
    margin-left: -25px;
    position: relative;
    right: 13%;
    margin-top: 50%;

  }

  .card-content p {
    font-size: 20px;
  }

  .history_button a {
    font-size: 30px;
  }

  .text-box p {
    font-size: 15px;
    margin-left: 19px;
  }

  .resources_button a {
    font-size: 20px;
  }

  .help_section img {
    margin-top: 60%;
  }
}

@media screen and (max-width: 425px) {
  .card {
    height: 40%;
    margin-top: -20%;
  }

  .card h1 {
    font-size: 45px;
    margin-left: 70px;
  }

  .card-content p {
    text-align: center;
    font-size: 20px;
  }

  .third_section h1 {
    font-size: 30px;
  }

  .third_section p {
    font-size: 30px;
    width: 90%;

  }
}