/* Frontend Developers here you will write all the code for vanilla CSS.
Delete the placeholders below and start coding.
Please write the css code for each page between comment tags, use unique and meaningful class names or id names. 
Godd Luck! */

/* --------------------------------------------------- General styles */
/* General code like body style, google fonts etc */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html {
    font-size: calc(15px + 0.390625vw);
    scroll-behavior: smooth;
}

body {
    font-family: 'Amatic SC', cursive;
    color: #010b13;
    background-color: #fff9ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------------- Home page styles */
.team_name {
    font-family: 'Amatic SC', cursive;
    margin-left: 35%;
}

.navbar {
    background-color: #FF8A7F;
    box-shadow: none !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.logo {
    background-color: transparent !important;
}

nav {
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 5rem;
}

div.nav-wrapper.red.accent-2>* {
    padding-top: 1rem;
}


#nav-mobile li a {
    font-size: 1.3rem;
}

.landing_page_container {
    background-color: #FF5252;
    height: 80vh;
    margin: 0;
}

.landing_page_container p {
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    width: 60%;
    margin-left: 6%;
    padding-top: 5%;
}

.circle_images {
    background-color: green;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    margin-bottom: 10px;
}

footer {
    min-height: 15rem;
    margin-top: auto;
}

/* --------------------------------------------------- History page styles */
#history-main-heading {
    font-size: 4.5rem;
}

.fa-heart {
    color: rgb(246, 128, 146);
}

.L {
    color: #b41a02;
    font-weight: 700;
}

.G {
    color: #b47602;
    font-weight: 700;
}

.B {
    color: #b7ba00;
    font-weight: 700;
}

.T {
    color: #009a0a;
    font-weight: 700;
}

.Q {
    color: #00579a;
    font-weight: 700;
}

.plus {
    color: #33009a;
    font-weight: 700;
}

.alexander {
    margin: 2rem 0;
    width: 100%;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
        rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.alexander-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0.5rem;
    width: 100%;
    font-weight: 600;
}

.colette-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0.5rem 1rem 0;
    width: 100%;
    font-weight: 600;
}

.hr-pride {
    margin: 1rem 0;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #FF0018, #FFA52C, #FFFF41, #008018, #0000F9, #86007D);
}

/* --------------------------------------------------- Resouces page styles */


/* --------------------------------------------------- Contact page styles */