/* Frontend Developers here you will write all the code for vanilla CSS.
Delete the placeholders below and start coding.
Please write the css code for each page between comment tags, use unique and meaningful class names or id names. 
Godd Luck! */

/* --------------------------------------------------- General styles */
/* General code like body style, google fonts etc */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html {
  font-size: calc(15px + 0.390625vw);
  scroll-behavior: smooth;
}

body {
  font-family: "Amatic SC", cursive;
  color: #010b13;
  background-color: #fff9ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* --------------------------------------------------- Home page styles */

/* Navbar css */
.team_name {
  font-family: "Amatic SC", cursive;
  margin-left: 35%;
}

.team_name:hover,
.navbar a:hover {
  transform: scale(1.1);
  transition: 1.2s;
  border-radius: 10px;
}

.navbar {
  background-color: #ff8a7f;
  box-shadow: none !important;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.logo {
  background-color: transparent !important;
  margin-left: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 5rem;
}

div.nav-wrapper.red.accent-2>* {
  padding-top: 1rem;
}

#nav-mobile {
  padding-right: 1rem;
}

#nav-mobile li a {
  font-size: 1.3rem;
}

.sidenav-overlay {
  background-color: transparent;
}

#mobile-demo a {
  font-size: 30px;
  margin-top: 40px;
}

#mobile-demo {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  height: auto;
}

/* Homepage content css */

.landing_page_container {
  background-color: #ff5252;
  height: 80vh;
  margin: 0;
}

.landing_page_container p {
  font-family: "Amatic SC", cursive;
  font-size: 90px;
  width: 120%;
  margin-left: 6%;
  padding-top: 5%;
  color: #fafafa;
}

.circle_images {
  width: 300px !important;
  height: 300px;
  border-radius: 50%;
  position: relative;
  top: -250px;
  z-index: 1;
}

.circle_1 {
  margin-right: -60px;
  object-fit: cover;
}

.circle_2 {
  margin-left: -20px;
  margin-top: -60px;
  object-fit: cover;
}

/* Stories of pride home page css */

.card {
  width: 50%;
  height: 40%;
  background-color: rgb(194, 223, 232);
  margin-left: 25%;
  margin-bottom: 10%;
  margin-top: -2px;
}

.card p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.card .row {
  margin-top: 30%;
}

.card h1 {
  margin-top: 20%;
}

.history_button {
  padding: 10px;
}

.history_button a {
  font-size: 30px;
  width: 33%;
  margin-bottom: 10px;
}

.history_button a:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

/* We're here for you section css */

.third_section {
  margin-top: -8%;
  margin-bottom: 5%;
}

.third_section h1 {
  font-family: "Josefin Sans", sans-serif;
}

.third_section h3 {
  font-weight: 900;
  font-style: italic;
}

.third_section p {
  font-size: 35px;
  width: 50%;
  margin-top: 3%;
  margin-left: 24%;
  font-family: "Josefin Sans", sans-serif;
}

/* Reach out section css */

.text-box {
  font-family: "Josefin Sans", sans-serif;
  background-color: purple;
  color: #fafafa;
  border-radius: 15%;
  width: 120%;
  height: 60%;
  padding: 20px;
  margin-left: -25%;
  opacity: 0.8;
}

.text-box p {
  font-size: 30px;
  width: 90%;
  margin-left: 60px;
  padding: 5%;
}

.help_section img {
  width: 90%;
  height: 90%;
  border-radius: 10%;
  margin-top: 40%;
  margin-left: 5%;
  position: relative;
  z-index: 1;
}

.resources_button a {
  font-size: 40px;
  padding: 3%;
  height: auto;
  font-family: "Amatic SC", cursive;
}

.resources_button a:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* footer css */

footer {
  min-height: 12rem;
  margin-top: auto;
}

.social_icons {
  height: auto;
  color: #114069;
  display: flex;
  flex-direction: row-reverse;
}

.member {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 1.3s;
}

.member:hover {
  transform: scale(1.2);
}

.member a {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.team-name p {
  margin-left: 140%;
  position: relative;
  font-size: 30px;
  width: 30%;
}

.team-name p:hover {
  transform: scale(1.1);
  transition: 1.1s;
}

/* --------------------------------------------------- History page styles */
#history-main-heading {
  font-size: 4.5rem;
}

.fa-heart {
  color: rgb(246, 128, 146);
}

.L {
  color: #b41a02;
  font-weight: 700;
}

.G {
  color: #b47602;
  font-weight: 700;
}

.B {
  color: #b7ba00;
  font-weight: 700;
}

.T {
  color: #009a0a;
  font-weight: 700;
}

.Q {
  color: #00579a;
  font-weight: 700;
}

.plus {
  color: #33009a;
  font-weight: 700;
}

.alexander {
  margin: 2rem 0;
  width: 100%;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.alexander-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 0.5rem;
  width: 100%;
  font-weight: 600;
}

.colette-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  margin: 1rem 0.5rem 1rem 0;
  width: 100%;
  font-weight: 600;
}

.hr-pride {
  margin: 1rem 0;
  height: 30px;
  border: none;
  background: linear-gradient(to right,
      #ff0018,
      #ffa52c,
      #ffff41,
      #008018,
      #0000f9,
      #86007d);
}

.rainbow {
  color: #33009a;
}

/* --------------------------------------------------- Resouces page styles */
.hero-image {
  width: 400px;
  height: 400px;
}


/* --------------------------------------------------- Contact page styles */