{% load static %}
<!-- Frontend Developers here you will write all the code for Header and footer.
Place your code between the respective comment tags.
Godd Luck! -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Spectrumind - is an informative web app designed to raise awareness about Mental Health in the LGBT community, including resources to get help."
    />
    <meta
      name="keywords"
      content="Spectrumind, LGBT Mental health, LGBTQ+ Mental Health, LGBTQ+ Support, Mental Health Resources, LGBT Youth Mental Health"
    />
    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans:wght@200&display=swap"
      rel="stylesheet"
    />
    <!-- materialize css link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- font awesome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!-- animation library link -->
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <!-- favicon link -->
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Spectrumind | {% block title %}{% endblock title %}</title>
  </head>

  <body>
    <div class="navbar-fixed navbar">
      <nav>
        <div class="nav-wrapper red accent-2">
          <img
            src="{% static 'media/logo.png'%}"
            class="circle responsive-img logo hide-on-med-and-down"
            alt="LOGO"
          />
          <a
            href="{% url 'home_page' %}"
            class="brand-logo team_name center-align left"
            >Spectrumind</a
          >

          <!-- Navbar links for large screens -->
          <ul class="right hide-on-med-and-down s12">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'history_page' %}">History</a></li>
            <li><a href="{% url 'resources_page' %}">Resources</a></li>
            <li><a href="{% url 'contact_page' %}">Contact</a></li>
          </ul>

          <!-- Sidenav trigger for small screens -->
          <a
            href="#"
            data-target="mobile-demo"
            class="right hide-on-large-only sidenav-trigger"
            ><i class="fa-solid fa-bars"></i
          ></a>
        </div>

        <!-- Sidenav content for small screens -->
        <ul
          id="mobile-demo"
          class="sidenav sidenav-content"
          style="background-color: #f9a825"
        >
          <li><a href="{% url 'home_page' %}">Home</a></li>
          <li><a href="{% url 'history_page' %}">History</a></li>
          <li><a href="{% url 'resources_page' %}">Resources</a></li>
          <li><a href="{% url 'contact_page' %}">Contact</a></li>
        </ul>
      </nav>
    </div>

    <!-- Header end -->

    <!-- Main start -->
    <main>
      {% block content %}
      <!-- content goes here to extend base.html-->
      {% endblock content %}
    </main>
    <!-- Main end -->

    <!-- Footer start -->
    <!-- Define the footer -->
    <footer class="page-footer blue lighten-1">
      <div class="container">
        <div class="row">
          <h5 class="white-text center-align">Meet Our Team!</h5>
        </div>
        <div class="row">
          <ul class="team-members">
            <li class="col s12 m6 member">
              <div class="row">
                <div class="col s8">
                  <a class="grey-text text-lighten-3" href="#">Edmir Demaj</a>
                </div>
                <div class="col s4">
                  <a
                    href="https://www.linkedin.com/in/edmir-demaj-software-developer/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin-in social_icons"></i>
                  </a>
                  <a href="https://github.com/Edmir-Demaj" target="_blank">
                    <i class="fa-brands fa-github social_icons"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="col s12 m6 member">
              <div class="row">
                <div class="col s8">
                  <a class="grey-text text-lighten-3" href="#">Ignas Vilkas</a>
                </div>
                <div class="col s4">
                  <a
                    href="https://www.linkedin.com/in/ignaspilybas/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin-in social_icons"></i>
                  </a>
                  <a href="https://github.com/ignasvilkas" target="_blank">
                    <i class="fa-brands fa-github social_icons"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="col s12 m6 member">
              <div class="row">
                <div class="col s8">
                  <a class="grey-text text-lighten-3" href="#">Jody Murray</a>
                </div>
                <div class="col s4">
                  <a
                    href="https://www.linkedin.com/in/jody-murray-4b6818234/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin-in social_icons"></i>
                  </a>
                  <a href="https://github.com/JodyMurray" target="_blank">
                    <i class="fa-brands fa-github social_icons"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="col s12 m6 member">
              <div class="row">
                <div class="col s8">
                  <a class="grey-text text-lighten-3" href="#">Kim Bergstrom</a>
                </div>
                <div class="col s4">
                  <a
                    href="https://www.linkedin.com/in/kim-bergstrom-47704b5b/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin-in social_icons"></i>
                  </a>
                  <a href="https://github.com/KimBergstroem" target="_blank">
                    <i class="fa-brands fa-github social_icons"></i>
                  </a>
                </div>
              </div>
            </li>
            <li class="col s12 m6 member">
              <div class="row">
                <div class="col s8">
                  <a class="grey-text text-lighten-3" href="#">Mark Young</a>
                </div>
                <div class="col s4">
                  <a href="linkedin.com/in/mark-young-4a90ab15" target="_blank">
                    <i class="fa-brands fa-linkedin-in social_icons"></i>
                  </a>
                  <a href="https://github.com/Markyjay" target="_blank">
                    <i class="fa-brands fa-github social_icons"></i>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col l8 s2 team-name">
            <p class="text-light-blue-lighten-1 right-align">Binary Unicorns</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">© 2023 Copyright Text</div>
      </div>
    </footer>

    <!-- Footer end -->

    <!-- jquery link -->

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <!-- javascript link -->

    <script src="{% static 'js/script.js' %}"></script>
    <!-- animation link -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

    <!-- font awesome link -->
    <script
      src="https://kit.fontawesome.com/9b64cea43d.js"
      crossorigin="anonymous"
    ></script>

    <!-- Materialize javascript link -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      AOS.init();
    </script>
  </body>
</html>
