{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Spectrumind - is an informative web app designed to raise awareness about Mental Health in the LGBT community, including resources to get help." />
  <meta name="keywords"
    content="Spectrumind, LGBT Mental Health, LGBTQ+ Mental Health, LGBTQ+ Support, Mental Health Resources, LGBT Youth Mental Health" />
  <!-- google fonts link -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans:wght@200&display=swap"
    rel="stylesheet" />
  <!-- materialize css link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- font awesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <!-- animation library link -->
  <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  <!-- favicon link -->
  <link rel="icon" href="{% static 'favicon.ico' %}" />
  <!-- css link -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>Spectrumind | {% block title %}{% endblock title %}</title>
</head>

<body>
  <div class="navbar-fixed navbar">
    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper red accent-2">
        <img src="{% static 'media/logo.png'%}" class="circle responsive-img logo hide-on-med-and-down" alt="LOGO" />
        <a href="{% url 'home_page' %}" class="brand-logo team-name center-align left">Spectrumind</a>

        <!-- Navbar links for large screens -->
        <ul class="right hide-on-med-and-down s12">
          <li><a href="{% url 'home_page' %}">Home</a></li>
          <li><a href="{% url 'history_page' %}">History</a></li>
          <li><a href="{% url 'resources_page' %}">Resources</a></li>
          <li><a href="{% url 'contact_page' %}">Contact</a></li>
        </ul>

        <!-- Sidenav trigger for small screens -->
        <a href="#" data-target="mobile-demo" class="right hide-on-large-only sidenav-trigger"><i
            class="fa-solid fa-bars"></i></a>
      </div>

      <!-- Sidenav content for small screens -->
      <ul id="mobile-demo" class="sidenav sidenav-content" style="background-color: #ffb134; height: 100vh;">
        <li><a href="{% url 'home_page' %}">Home</a></li>
        <li><a href="{% url 'history_page' %}">History</a></li>
        <li><a href="{% url 'resources_page' %}">Resources</a></li>
        <li><a href="{% url 'contact_page' %}">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- Header end -->

  <!-- Main start -->
  <main>
    {% block content %}
    <!-- content goes here to extend base.html-->
    {% endblock content %}
  </main>
  <!-- Main end -->

  <!-- Footer start -->
  <!-- Define the footer -->
  <footer class="footer">
    <h3 style="color: #ffffff; font-size: 4rem;">Meet Our Fantastic Team!</h3>
    <div class="team-members">
      <div class="team-member">
        <img src="{% static 'media/jody.png'%}" alt="Team Member 1">
        <div class="social-icons">
          <span style="color: #ffffff; font-size: 2rem;">Jody</span>
          <a href="https://github.com/JodyMurray" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/jody-murray-4b6818234/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="{% static 'media/kim.png'%}" alt="Team Member 2">
        <div class="social-icons">
          <span style="color: #ffffff; font-size: 2rem;">Kim</span>
          <a href="https://github.com/KimBergstroem" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/kim-bergstrom-47704b5b/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="{% static 'media/edmir.jpg'%}" alt="Team Member 3">
        <div class="social-icons">
          <span style="color: #ffffff; font-size: 2rem;">Edmir</span>
          <a href="https://github.com/Edmir-Demaj" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/edmir-demaj-software-developer/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="{% static 'media/mark.jpeg'%}" alt="Team Member 4">
        <div class="social-icons">
          <span style="color: #ffffff; font-size: 2rem;">Mark</span>
          <a href="https://github.com/Markyjay" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/team-member-4" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="team-member">
        <img src="{% static 'media/ignas.png'%}" alt="Team Member 5">
        <div class="social-icons">
          <span style="color: #ffffff; font-size: 2rem;">Ignas</span>
          <a href="https://github.com/ignasvilkas" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/ignaspilybas/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="container" id="footer-cp">
      <div class="row">
        <div class="col s12 l6">©️Copyrights Reserved 2023</div>
        <div class="col s12 l6">BINARY UNICORNS</div>
      </div>
    </div>
  </footer>

  <!-- Footer end -->

  <!-- jquery link -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- javascript link -->
  <script src="{% static 'js/script.js' %}"></script>
  <!-- animation link -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  <!-- font awesome link -->
  <script src="https://kit.fontawesome.com/9b64cea43d.js" crossorigin="anonymous"></script>
  <!-- Materialize javascript link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>